//~~

@import "../../../styles/vars.scss";
@import "../../../styles/mixin.scss";

.media-list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 0 50px;

	@media screen and (max-width: 960px) {
		padding: 0 30px;
		grid-template-columns: repeat(4, 1fr);
	}

	@media screen and (max-width: 660px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (max-width: 480px) {
		grid-template-columns: repeat(2, 1fr);
	}

	&__link {
		$self: &;

		position: relative;
		margin: 0 10px;
		margin-bottom: 20px;
		overflow: hidden;

		&:hover {
			.media-card__details {
				bottom: 4%;
				opacity: 1;
			}

			.media-card__info,
			.media-card__play {
				opacity: 1;
			}

			#{$self}-img {
				transform: scale(1.1);
			}
		}

		&-favorite {
			width: 30px;
			height: 30px;
			z-index: 101;
		}

		&-img {
			width: 100%;
			height: 100%;
			transition: itemTransitionHover(transform);
		}
	}
}