//~~

.Input_Box {
	margin-top: 15px;

	&__label {
		position: relative;
		color: #FFF;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 14px;
		transition: color 0.3s ease-in-out;
		text-shadow: 2px 2px 0px #101010;
	}

	&__wrapper {
		margin-top: 0.5rem;
		position: relative;
	}

	&__error-ico {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);
	}

	&__enter {
		appearance: none;
		width: 100%;
		padding: 15px 10px;
		font-size: 16px;
		border: 2px solid #333333;
		background-color: transparent;
		color: #888;
		outline: none;
		border-radius: 4px;
		transition: border 0.3s ease-in-out, color 0.3s ease-in-out;

		&::placeholder {
			color: #888;
		}

		&-error {
			border: 2px solid #e74c3c;

			&::placeholder {
				color: #e74c3c;
			}
		}
	}
}