//~
@import "../../../styles/vars.scss";

.menu {
	$self: &;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background: $secondary-color;
	color: $white;
	z-index: 1000;

	&__btn {
		display: block;
		cursor: pointer;
		width: 30px;
		height: 30px;
		outline: none;
		border: none;
		background-color: $accent-color;
		border-radius: 4px;
		position: relative;

		@media screen and (min-width: 1200px) {
			display: none;
		}

		span {
			display: block;
			width: calc(100% - 12px);
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $secondary-color;
			transition: width 0.7s ease-in-out;

			&::before,
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				background-color: $secondary-color;
				transition: transform 0.3s ease-in-out;
			}

			&::before {
				transform: translateY(-6px);
			}

			&::after {
				transform: translateY(6px);
			}
		}

		&-active {
			span {
				width: calc(100% - 15px);
				background-color: initial;

				&::before {
					transform: rotate(-45deg);
				}

				&::after {
					transform: rotate(45deg);
				}
			}
		}
	}

	&__login-btn {
		@media screen and (max-width: 1200px) {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;

		@media screen and (max-width: 1200px) {
			display: none;
		}
	}

	&__item {
		cursor: pointer;
		font-size: 18px;
		letter-spacing: 2px;
		line-height: 50px;

		&:hover #{$self}__link {
			color: $accent-color;
		}

		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	&__link {
		transition: color 0.2s ease-in-out;
	}
}