//~~

:root {
	--state-color: #333333;
	--hover-color: #E50140;
}

.authorization {
	$main-self: &;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	height: 100%;
	position: relative;

	&__bg {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;
		filter: contrast(107%) brightness(190%);
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 400px;
		border: 5px solid var(--state-color);
		margin: 20px;
		padding: 3rem 2rem;
		border-radius: 10px;
		transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;

		@media screen and (max-width: 480px) {
			padding: 2rem 1rem;
		}

		&:hover {
			border: 5px solid var(--secondary-color);
			box-shadow: 0px 0px 2px var(--secondary-color), inset 0px 0px 20px var(--secondary-color);
			backdrop-filter: blur(5px);

			#{$main-self}__title {
				color: var(--hover-color);
			}

			#{$main-self}__auth-btn {
				background-color: var(--hover-color);
			}

			#{$main-self}__username,
			#{$main-self}__email,
			#{$main-self}__password {
				.Input_Box__enter {
					border: 2px solid var(--hover-color);
					color: #FFF;
				}

				.Input_Box__label {
					color: var(--hover-color);
				}
			}

			#{$main-self}__underline {
				background-color: var(--hover-color);

				&-inner {
					background-color: var(--hover-color);
				}
			}

			#{$main-self}__google-btn {
				background-color: var(--hover-color);
			}

			#{$main-self}__link-btn {
				background-color: transparent;
				color: #cfcfcf;
			}
		}
	}

	&__title {
		width: 100%;
		text-align: center;
		color: #FFF;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-shadow: 3px 4px 0px var(--dark);
		transition: color 0.3s ease-in-out;
		font-size: 32px;

		@media screen and (max-width: 480px) {
			font-size: 25px;
		}
	}

	&__form {
		width: 100%;
		margin-top: 1rem;
	}

	&__auth-btn {
		margin-top: 2rem;
	}

	&__underline {
		display: block;
		position: relative;
		width: 100%;
		height: 2px;
		background-color: #333333;
		margin-top: 2rem;
		transition: background-color 0.3s ease-in-out;

		&-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #333333;
			padding: 2px 10px;
			border-radius: 4px;
			color: #FFF;
			font-size: 10px;
			transition: background-color 0.3s ease-in-out;
		}
	}

	&__social {
		margin-top: 2rem;
	}

	&__google {
		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
		}

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;

			@media screen and (max-width: 480px) {
				width: 15px;
				height: 15px;
			}
		}

		&-text {
			font-weight: 700;

			@media screen and (max-width: 480px) {
				font-size: 10px;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;
		margin-top: 2rem;

		&-text {
			color: #FFF;
			font-size: 14px;
			font-weight: 700;

			@media screen and (max-width: 480px) {
				font-size: 11px;
			}
		}

		&-btn {
			padding: 0;
			color: var(--state-color);
			background-color: transparent;
			transition: color 0.3s ease-in-out;
			font-weight: 700;
			font-size: 14px;
			position: relative;
			overflow: hidden;

			@media screen and (max-width: 480px) {
				font-size: 11px;
			}

			&::before {
				content: "";
				width: 100%;
				height: 1px;
				background-color: #fff;
				position: absolute;
				bottom: 0;
				left: -100%;
				transform: scaleX(0);
				transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
			}

			&:hover::before {
				transform: scaleX(1);
				left: 0;
			}
		}
	}
}