//~~

[class*="-row"] {
	display: flex;
	align-items: center;
	color: #FFF;
	font-weight: 700;
	letter-spacing: 2px;

	@media screen and (max-width: 480px) {
		letter-spacing: 1.5px;
	}
}

[class*="-title-r"] {
	margin-right: 10px;
	align-self: flex-start;

	@media screen and (max-width: 480px) {
		font-size: 12px;
	}
}

[class*="-title-padding"] {
	padding-top: 5px;
}

[class*="-text"] {
	color: #DA0027;

	@media screen and (max-width: 480px) {
		font-size: 14px;
	}
}

[class*="-list"] {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

[class*="-item"] {
	font-size: 12px;
	border-radius: 50px;
	background-color: #DA0027;
	padding: 7px 25px;
	text-wrap: nowrap;
	position: relative;

	@media screen and (max-width: 480px) {
		font-size: 10px;
		padding: 7px 12px;
		font-weight: 400;
	}
}