.button-default {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	max-width: 20rem;
	width: fit-content;
	height: 2.3rem;
	background-color: transparent;
	outline: none;
	border: 1px solid #DA0027;
	color: #FFF;
	transition: background-color 0.3s ease-in-out;
	letter-spacing: 0.2rem;
	padding: 0 20px;

	&.full-w {
		width: 100%;
		padding: 0;
	}

	@media screen and (max-width: 960px) {
		max-width: 15rem;
	}

	@media screen and (max-width: 480px) {
		max-width: 10rem;
		height: 2rem;
		font-size: 12px;
	}

	&:hover {
		background-color: #DA0027;
	}
}