//~~

.select-background {
	&__label {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		background-color: #0c0e39;
		border: 0.5px solid #0f179f;
		padding: 2px;
	}

	&__file {
		display: none;
	}

	&__icon {
		--size: 35px;
		height: var(--size);
		width: var(--size);
		visibility: hidden;
		position: absolute;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: inherit;
	}

}