//~~

@import "../../../styles/vars.scss";
@import "../../../styles/mixin.scss";

.films {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 90px;
	padding-bottom: 30px;
}