//~~
@import "../../../styles/vars.scss";

.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	color: #fff;
	padding: 70px 30px;
	background: #101011;
	margin-top: 100px;

	@media screen and (max-width: 1400px) {
		row-gap: 40px;
	}
}