// ======================= Colors ======================= //

:root {
	--index: calc(1vw + 1vh);
}

$main-color: #13141F;
$accent-color: #DA0027;
$secondary-color: #01000c;

$scroll-bg-color: #272630;

$white: #FFF;