//~~

.container-info-user {
	display: block;
	width: 100%;
	position: relative;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #1f1f21;
	box-shadow: 0 0 10px #1f1f21;
	font-size: 14px;
	color: #FFF;
	margin: 44px 0;
	width: 100%;
}